name: "Lint"

on:
  push:
    paths-ignore:
      - 'deployment/**'
      - '*.md'
      - 'storage/**'
      - 'logs/**'
    branches:
      - main
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - 'deployment/**'
      - '*.md'
      - 'storage/**'
      - 'logs/**'
    branches:
      - main
    types: [opened, synchronize]

jobs:
  lint:
    name: Lint Python code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Run Ruff
        run: uv run ruff check .